{% extends "admin/layouts/main.html.twig" %}

{% block container %}

<div class="row">
  <div class="card p-4 col-12 ms-sm-auto">
  {# <h1 class="card-title">Data Pegawai</h1> #}
  <div class="card-body">
    <h1 class="mb-5">Data Pegawai</h1>
    <a href="/admin/create" class="btn btn-success mb-4"><i class="fas fa-plus"></i> Tambah Pegawai</a>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Nama Lengkap</th>
          <th scope="col">Username</th>
          <th scope="col">Deskripsi</th>
          <th scope="col">Nomor HP</th>
          <th scope="col">Alamat</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.description }}</td>
          <td>{{ user.phoneNumber }}</td>
          <td>{{ user.address }}</td>
          <td>
            <div class="d-flex p-2 justify-content-center align-items-center">

              <button type="button" class="btn btn-info d-flex mr-2"><i class="fas fa-edit mr-1"></i> Edit</button>
              <button type="button" class="btn btn-danger d-flex"><i class="fas fa-trash mr-1"></i> Hapus</button>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
    </div>
  </div>
</div>
{% endblock %}
