{% import "admin/modals/delete.html.twig" as modal %}
{% extends "admin/layouts/main.html.twig" %}

{% block sidebar %}
<!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <span class="brand-text font-weight-light">Kejaksaan Tinggi Sumsel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar"
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            
          <li class="nav-header">PAGES</li>
          <li class="nav-item">
            <a href="/admin" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p>Analisis</p>
            </a>
          </li>
          <li class="nav-item">
            <a href="/admin/pegawai" class="nav-link active">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p>Data Pegawai</p>
            </a>
          </li>
          <li class="nav-item">
          <a href="/admin/logout" class="nav-link">
            <i class="nav-icon far fa-circle text-danger"></i>
            <p>Logout</p>
          </a>
        </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
{% endblock %}


{% block container %}

<div class="row">
  <div class="card p-4 col-12 ms-sm-auto">
    {# <h1 class="card-title">Data Pegawai</h1> #}
    <div class="card-body">
      <h1 class="mb-5">Data Pegawai</h1>
      <a href="/admin/pegawai/create" class="btn btn-success mb-4"><i class="fas fa-plus"></i> Tambah Pegawai</a>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama Lengkap</th>
            <th scope="col">Username</th>
            <th scope="col">Deskripsi</th>
            <th scope="col">Nomor HP</th>
            <th scope="col">Alamat</th>
            <th scope="col">Aksi</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.description }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.address }}</td>
            <td>
              <div class="d-flex p-2 justify-content-center align-items-center">

                <a href="/admin/pegawai/edit/{{ user.id }}" class="btn btn-info d-flex mr-2"><i class="fas fa-edit mr-1"></i>
                  Edit</a>
                <button type="button" class="btn btn-danger d-flex mr-2" data-toggle="modal"
                  data-target="#modal-delete-{{ user.id }}">
                  <i class="fas fa-trash mr-1"></i>Delete
                </button>

                {{ modal.create_delete_modal('modal-delete-'~user.id,user.id, user.name) }}
                
                {# <a href="/admin/pegawai/delete/{{ user.id }}" class="btn btn-danger d-flex"><i class="fas fa-trash mr-1"></i>
                  Hapus</a> #}
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
      </div>
    </div>
  </div>


  <!-- /.modal -->
  {% endblock %}